* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: lavender;
  /* display: flex; */
  display: grid;
  height: 100%;
  grid-template: repeat(3, 200px) / repeat(3, 1fr);
}

div a {
  text-decoration: none;
}

.container {
  display: flex;
  grid-column: 2;
  grid-row: 2;
  flex-direction: column;
  z-index: 1;
}

.construction {
  align-self: center;
  width: 60%;
  text-align: center;
}


.header {
  grid-column: 2;
  height: 200px;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 90px;
  font-color: black;
  letter-spacing: 10px;
  font-family: "TheUnknown";
}

.menu {
  height: 100%;
  width: 0;
  position: absolute;
  background-color: rgba(51, 0, 25, 0.7);
  z-index: 2;
}

.menu li {
  display: none;
  list-style-type: none;
}

.menu_tab:active {
  background-color: black;
}

.menu_tab {
  height: 3em;
  width: 3em;
  border-radius: 0 5% 5% 0;
  /* right: 50px; */
  /* justify-self: end; */
  background-color: red;
  z-index: 3;
}

li {
  list-style: none;
  width: 100%;
  height: 100%;
}

li:hover {
  background-color: pink;
  -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

#abt, #gal, #shop, #mus, #loc, #cont {
  font-size: 34px;
}

#abt {
  grid-row: 1;
}

#gal {
  grid-row: 2;
}

#shop {
  grid-row: 3;
}

#mus {
  grid-row: 4;
}

#loc {
  grid-row: 5;
}

#cont {
  grid-row: 6;
}

#ig, #twit, #spotify, #itunes {
  height: 2em;
}

#flower_bg {
  margin-top: -10px;
  margin-left: -5px;
  z-index: -1;
  position: fixed;
  opacity: 0.3;
  width: 70%;
  height: 700px;
}

@font-face {
  font-family: "TheUnknown";
  src: url("./fonts/TheUnknown-Regular.ttf"),
        url("./fonts/TheUnknown-Regular.ttf")format("truetype"),
        url("./fonts/TheUnknown-Regular.otf")format("opentype");
  font-weight: normal;
  font-style: normal;
}
